.container {
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.easyway {
    flex: 1 0 auto;
}

.easyway img {
    float:none; 
    display:block; 
    margin-left:auto; 
    margin-right:auto;
}

.easyway h1, p {
    text-align: center;
} 

.form {
    flex: 1  0 auto;
    width: 30%;
}

button {
    width: 100%;
    height: 60px;    
}  

button {
    cursor: pointer;
}