@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

button {
    width: 100%;
    height: 60px;
    background-color: #2979FF;
    border: 0;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}  

button {
    cursor: pointer;
}

.button:hover {
    filter: brightness(90%);    
}