.ReactModal__Content--after-open {  
    top: 0% !important;
    bottom: 0% !important;
    left: 0%;
    height: auto;
  }
  
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.patient {
    margin: 10px;
    padding: 20px;
}
